<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
</head>
<body>
    <h1>Cadastro de alunos</h1>
    <a href="/add"> <img src="{{ url_for('static', filename='imagens/adicionar-ficheiro.png')}}"> </a>
    <br>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>RA</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>C.E.P</th>
                <th>Bairo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for a in alunos %}
            <tr>
                <td>{{a.ra}}</td>
                <td>{{a.nome}}</td>
                <td>{{a.email}}</td>
                <td>{{a.logradouro}}</td>
                <td>{{a.numero}}</td>
                <td>{{a.cep}}</td>
                <td>{{a.bairro}}</td>
                <td>
                    <a href="/edit/{{a.id}}">
                        <img src="{{ url_for('static', filename='imagens/lapis.png')}}"></a> 
                    <a href="/delete/{{a.id}}">
                        <img src="{{ url_for('static', filename='imagens/lixeira.png')}}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" >
    </script>
</body>
</html>